* {
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


@font-face { 
	font-family: Fanwood; src: url('Fanwood.otf'); 
} 

@font-face { 
	font-family: Contra; src: url('Contra.ttf'); 
} 

@font-face {
	font-family: Lato src: url('Lato.ttf');
}

@font-face {
	font-family: Hattori Hanzo src: url('Hattori Hanzo.ttf');
}

@font-face {
	font-family: Impact Label src: url('Impact Label.ttf');
}

/*Photos and Videos*/

video {
	float: right;
}

.img-polaroid {
	width: 550px;
	height: 350px;
	margin-left: 50px;
}


 figcaption {
    /*display: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    background-color: rgba(0,0,0,.15);
    text-align: center;
}

figure:hover img {
    opacity: .7;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
}

figure:hover figcaption {
    display: block;
}
*/
}

figure.img-float-left {
	float:left;
	width:30%;
	display: block;
}

figure.img-float-right {
	float:right;
	width:40%;
	display: block;
}


/* ---END PHOTO/VIDEO SECTION --*/


body {
	margin: 0 auto;
	color: #000000;
}

.container {
	padding-top: 50px;
}

#roster.container {
	padding-bottom: 15%;
	padding-right: 4%;
}

.span12 {
	padding-bottom: 5%;
}

.span6 {
	padding-left: 15%;
}

.span2 {
	padding-top: 1%;
	font-family: contra;
}

.span3 {
	padding-top:5%;

}

.span3#lakefront-list {
	position: relative;
	right: 80px;
	padding-top: 1%;
}

.span3#miller-list {
	position: relative;
	right: 89px;
	padding-top: 1%;
}

.span3#mkb-list {
	position: relative;
	padding-top: 1%;
	right: 32px;
}

.span3#temperance-list {
	position: relative;
	right: 92px;
	padding-top: 1%;
}

.span3#polly-list {
	position: relative;
	right: 27px;
	padding-top: 1%;
}



.title-image {
	background: url(../img/titlepage3.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size:cover;
	padding: 400px;
	margin: 0 auto;
	overflow: hidden;
}

.intro-text {
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5%;
	position:relative;
	top: 340px;
}

p {
	font-size: 1.4em;
	font-family: contra;
	line-height: 30px;
	color: #252725;
}

p.nicknames {
	font-family: hattori hanzo;
	color: white;
}

blockquote p{
	font-size:30px;
	line-height:38px;
	border:none;
	margin-top:5px;
	margin-bottom:5px;
}

h1 {
	font-family: 'Hattori Hanzo';
	font-size: 110px;
}


h2 {
	font-family: Contra;
	padding-left: 5px;
	text-shadow: 0px 2px 3px #555;
}

h2.nicknames {
	font-size: 85px;
	position: absolute;
}

h2.modal-head {
	font-family: 'Impact Label';
	text-align: center;
	font-size: 50px;
	margin-bottom: 25px;
}

h3 {
	font-family: Contra;
	color: white;
	text-align: center;
	font-size: 5.5em;
	padding: 3% 0 0 0;
	font-weight: 600;
}


h3.nicknames {
	font-size: 25px;
	font-family: Contra;
	font-weight: 800;
	color: #fafbff;
	text-align: left
}

h4 {
	font-family: Lato;
	font-size: 40px;
	color: white;
	padding-left: 5%;
	font-weight: 200;
}

a {
	color: white;
	text-shadow: 0px 3px 3px #000000;
	
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.double-lines {
	width: 50%;
	margin-left: 25%;
}


img.logo {
	padding-left: 450px;
	padding-bottom: 50px;
}

#vert-line {
	color: #5c5b5c;

}

#myTimeline {
	width: 1200px;
	overflow-y: hidden;
	margin-bottom: 50px;
	padding-bottom: 10px;
}

#row1 {
	margin: 0 auto;
	background: #3B3F46;
	padding-bottom: 15%;
	padding-left: 2%;
}


.img-circle {
	opacity: .75;
	transition: 0.5s all;
	-moz-transition: 0.5s all;
  	-webkit-transition: 0.5s all;
  	border: 4px solid #dedbdb;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.img-circle:hover {
	opacity: 1;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}




/*LAKEFRONT*/

#lakefront {
	background: url(../img/russ.png) no-repeat;
	position:relative;
	background-attachment: fixed;	
	background-size:cover;
	overflow: hidden;
	margin-top:-10%;
	width:auto;

}

.info-l {
    background:rgba(11,11,70,.8);
    position: absolute;
    width: 65%;
    left: 60px;
    bottom: 150px;
    padding: 2%;
    border-top: 4px solid #dad0d0;
    border-bottom: 4px solid #dad0d0;
    border-right: 4px solid #dad0d0;
}


#lakefront.row {
	padding:24%;
}

/*MILLERCOORS*/

#millerCoors {
	background: url(../img/tap.jpg) no-repeat;
	position:relative;
	padding: 200px 200px;
	background-attachment: fixed;	
	background-size:cover;
	overflow: hidden;
}

.info-mc {
    background:rgba(218,165,32,.8);
    position: absolute;
    width: 65%;
    bottom: 150px;
    left: 60px;
    padding: 2%;
    border-top: 4px solid #dad0d0;
    border-bottom: 4px solid #dad0d0;
    border-right: 4px solid #dad0d0;
 }


#millerCoors.row {
	padding:24.5%;
}

/* MILWAUKEE */

#mkb {
	background: url(../img/jim.png) no-repeat;
	position:relative;
	padding: 200px 200px;
	background-attachment: fixed;	
	background-size:cover;
	overflow: hidden;
}


.info-mk {
    background:rgba(0,0,0,.8);
    position: absolute;
    width: 65%;
    left: 60px;
    bottom: 150px;
    padding: 3%;
    border-top: 4px solid #dad0d0;
    border-bottom: 4px solid #dad0d0;
    border-right: 4px solid #dad0d0;
}

#mkb.row {
	padding:25%;
}

/*TEMPERANCE*/

#temperance {
	background: url(../img/gilbert.png) no-repeat;
	position:relative;
	padding: 200px 200px;
	background-attachment: fixed;	
	background-size:cover;
	overflow: hidden;
}	


.info-t {
    background:rgba(53,2,66,.8);
    position: absolute;
    width: 65%;
    left: 60px;
    bottom: 150px;
    padding: 3%;
    border-top: 4px solid #dad0d0;
    border-bottom: 4px solid #dad0d0;
    border-right: 4px solid #dad0d0;
}

#temperance.row {
	padding:25%;
}


/* POLLYANNA */

#pollyanna {
	background: url(../img/Brian-Graduation.jpg) no-repeat;
	position:relative;
	padding: 200px 200px;
	background-attachment: fixed;	
	background-size:cover;
	overflow: hidden;

}

.info-p {
    background:rgba(140,5,0,.8);
    position: absolute;
    width: 65%;
    left: 60px;
    bottom: 150px;
    padding: 3%;
    border-top: 4px solid #dad0d0;
    border-bottom: 4px solid #dad0d0;
    border-right: 4px solid #dad0d0;
}

#pollyanna.row {
	padding:25%;

}

/*----------------------End of Stories-------------------*/

.fa-arrow-up {
  	position: fixed;
  	bottom: 15px;
  	right: 0;
  	font-size: 50px;
  	color: #e7dee3;
  	z-index: 1;
}
 .fa-arrow-up:hover {
 	color: #768585;
 }

ul {
	list-style-type: none;
	font-family: contra;
}

.modal-sidebar {
	
	width: 400px;
	height: auto;
	margin: 0 0 3% 3%;
	text-align: center;
	font-family: 'Impact Label';
	background:rgba(140,5,0,.5);
	float:right;
	border: 3px solid #c6c9cc;	
}

p.modal-graph {
	font-family: 'Hattori Hanzo';
	padding: 1%;
}

.tap {
	position: relative;
}

.coors-tab {
	position: absolute;
	bottom: 10px;
	left: 91px;

	
}

.coors-tab:active { 
	-webkit-transform: skew(3deg); 
	transform: skew(3deg);
	-webkit-transform-origin: 0 90%;
	transform-origin: 0 90%;
	
}